form.col.s12(action="/search" method="get" autocomplete="off" id="search-form")
  .row
    .input-field.col.s6.m3
      select(id="search-type" required name="type")
        option(value='' disable selected) Tipo de búsqueda
        option(value='institution') Institución
        option(value='program') Programa
    .input-field.col.s12.m9
      input(id="search-input" type="text" class="autocomplete" name="name" required)
      label(for="search-input" data-error="wrong" data-success="right") Ingresa el nombre a buscar
  .row.center
    .input-field.col.s10.offset-s1
      input.waves-effect.waves-light.btn(type="submit" value="Buscar" id="search-button")
