.header {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header .search {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  height: 45px;
}

.logo {
  height: 100px;
  padding: 8px 0 8px 25px;
}

.logo img {
  border-radius: 7px;
  display: block;
  max-height: 100%;
  max-width: 100%;
}