@import './card.css';
@import './filters.css';
@import './form.css';
@import './header.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-content {
  background: radial-gradient(circle,#FFF, #557A8C);
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-page {
  height: 100%;
}

h1 {
  font-size: 2em;
}

a {
  color: #00B7FF;
}

footer {
  flex: 1 0 auto;
  padding-bottom: 20px;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

.principal-container {
  height: 100%;
}

.search__main-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.card .card-image img {
  border-radius: 50%;
  height: 100px;
  margin-top: 40px;
  padding: 0 10px;
  width: 100px;
}

.card__title {
  white-space: normal;
}

.card__description {
  text-align: justify;
}

.page-error {
  height: 100%;
}

.filters .label {
  display: block;
  color: black;
  font-size: 14px;
}