
each n in [1, 2, 3, 4]
  .col.s12.m8.offset-m2
    .card.horizontal
      .card-image
        img(src="/images/logo.jpg")
      .card-stacked
        .card-content
          h4.card__title Ingeniería informática
          p.card__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, voluptatem adipisci alias deleniti rerum recusandae corporis aliquam suscipit vitae a esse explicabo non. Alias rerum facere ea? Consequuntur, saepe non.
        .card-action
          a(href="#") This is a link
