
each row in data
  .col.s10.center
    .card.horizontal
      .card-image
        img(src=`${row.logo}`)
      .card-stacked
        .card-content
          h4.card__title #{row.nombre_prog}
          p.card__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, voluptatem adipisci alias deleniti rerum recusandae corporis aliquam suscipit vitae a esse explicabo non. Alias rerum facere ea? Consequuntur, saepe non.
        .card-action
          a(href=row.url_programa target="_blank") Visita #{row.nombre_prog}
