extends layout

block header
  include ../components/header/index
block content
  .container
    .row
      .col.s12.center
        h1.main-title Encuentra tu U
    .row
      include ../components/form/index
  //- .row
  //-   each res in data
  //-     li #{res.id} - #{res.name}
