extends layout

block header
  include ../components/header/index
block content
  .container.principal-container
    .row
      .col.s12.center
        h1.main-title Encuentra tu U
    .row
      include ../components/form/index
