extends layout
block header
  include ../components/header/index
block content
  .row
    include ../components/filters/index
  .container
    .row
      .col.s12
        h3.search__main-title Resultados para: #{data[0].nombre_inst.toUpperCase()}
        if data && data.length
          include ../components/card/index
