@import './card.css';
@import './filters.css';
@import './form.css';
@import './header.css';
@import './paginator.css';

body {
  background: radial-gradient(circle,#FFF, #557A8C);
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

/* Search */
.search__main-title {
  font-size: 1.5em;
  font-weight: bolder;
}