.col.s12
  .row
    if (tipo === 'program')
      .col.s3
        | Tipo de institución
        .input-field.inline
          select
            option(value='1') universidad
            option(value='2') institución universitaria
            option(value='3') institución tecnológica
            option(value='4') institución técnica profesional
      .col.s3
        | Sector
        .input-field.inline
          select
            option(value='1') público
            option(value='2') privado
      
    else if (tipo === 'institution')
      .col.s3
        | Tipo de programa
        .input-field.inline
          select
            option(value='1') técnico
            option(value='2') tecnológico
            option(value='3') profesional
      .col.s3
        | Facultad
        .input-field.inline
          select
            option(value='1') ingeniería
            option(value='2') administración
            option(value='3') medicina
    