.col.s12
  .row.filters
    if (tipo === 'program')
      .col.s12.m6
        label.label Tipo de institución
        .input-field.inline
          select(id="filter-inst-type")
            option(value='1') Universidad
            option(value='2') Institución universitaria
            option(value='3') Institución tecnológica
            option(value='4') Institución técnica profesional
      .col.s12.m6
        label.label Sector
        .input-field.inline
          select
            option(value='1') Público
            option(value='2') Privado
      
    else if (tipo === 'institution')
      .col.s12.m6
        labe.label Tipo de programa
        .input-field.inline
          select
            option(value='1') Técnico
            option(value='2') Tecnológico
            option(value='3') Profesional
      .col.s12.m6
        label.label Facultad
        .input-field.inline
          select
            option(value='1') Ingeniería
            option(value='2') Administración
            option(value='3') Medicina
    