.col.s12
  .row
    .col.s3
      | Tipo de programa
      .input-field.inline
      select
        option(value='1') Técnico
        option(value='2') Tecnológico
        option(value='3') Profesional
    .col.s3
      | Facultad
      .input-field.inline
      select
        option(value='1') Ingeniería
        option(value='2') Ciencias agrarias
        option(value='3') Educación física